{% set user2slack_id = {"czhong": "U04JT2REAUF"} %}
{% macro add_maintainers(maintainers) %}
  {% for maintainer in maintainers %}
    {% if maintainer.email is defined %}
      {% set user = maintainer.email.split("@")[0] %}
      {% if user in user2slack_id %}
          {% set slack_user = "<@" + user2slack_id[user] + ">" %}
      {% else %}
          {% set slack_user = "@" + user %}
      {% endif %}
      {% if slack_user not in notify %}
        {{- notify.append(slack_user) or "" -}}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}
{% set notify = [] %}
{% set missed_tests = [] %}
{% set errored_tests = [] %}
{% set failed_tests = [] %}
{% for test in missed_tests %}
  {%- if test.status == "MISS" -%}
    {# don't notify test maintainers about missed tests until it is actionable
    # related to: https://gitlab.com/cki-project/datawarehouse/-/issues/438
    {{ add_maintainers(test.misc.maintainers) }}
    #}
    {{- missed_tests.append(test.comment) or "" -}}
 {%- endif %}
{% endfor %}
{% for test in untriaged_tests + regression_tests %}
 {%- if test.status == "FAIL" -%}
   {{ add_maintainers(test.misc.maintainers) }}
   {{- failed_tests.append(test.comment) or "" -}}
 {%- endif %}
 {%- if test.status == "ERROR" -%}
   {{ add_maintainers(test.misc.maintainers) }}
   {{- errored_tests.append(test.comment) or "" -}}
 {%- endif %}
{% endfor %}
{# non_booting_builds means jobs with Boot test that didn't pass and is untriaged #}
{% if non_booting_builds|length > 0 %}
   {% set boot_maintainers = [] %}
   {% set users = env['JOB_NOTIFY'].split() %}
   {% for user in users %}
     {{- boot_maintainers.append({'email':user + '@redhat.com'}) or "" -}}
   {% endfor %}
   {{ add_maintainers(boot_maintainers) }}
   {{- failed_tests.append(id) or "" -}}
{% endif %}
{% set tested_arches = [env['TEST_ARCH']] %}
{% set test_summary = [] %}
{% if failed_tests|length > 0 %}
   {{- test_summary.append("Failed: " + failed_tests|length|string) or "" -}}
{% endif %}
{% if errored_tests|length > 0 %}
   {{- test_summary.append("Errored: " + errored_tests|length|string) or "" -}}
{% endif %}
{% if missed_tests|length > 0 %}
   {{- test_summary.append("Missed: " + missed_tests|length|string) or "" -}}
{% endif %}
Finished testing <{{ env['TESTRUN_LOG_URL'] }}|{{ env['TEST_JOB_NAME'] }} - {{ env['TEST_PACKAGE_NVR'] }} ({{ tested_arches|join(', ') }})>
{% if notify|length > 0 -%}
   {{- test_summary.append(notify|join(", ") + " please review...") or "" -}}
{% endif %}
{{ test_summary|join(" | ")}}
